<!DOCTYPE html>
<html lang="ja" ng-app="concierAdminApp">
<head>
    <meta charset = "UTF-8">
    <title>絞込み検索</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src = "userSearchController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="user_search.css">
</head>
<body>
<div ng-controller="UserSearchCtrl">
    <div class="container-fluid">
        <div class="row user-list-search-field">
            <div class="col-lg-12 col-xs-12">
                <form name="frm">
                <div class="list-group">
                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12">
                        絞り込み条件を指定してください
                        </div>
                    </div>
                    </div>
                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-1">
                        大学
                        </div>
                        <div class="col-sm-11">
                            <label>
                                <input type="radio" ng-model="selected.univ_level" value="0" name="univ_level_search" checked="checked">
                                    全て表示
                            </label>
                            <label ng-repeat="tag in univGroupList">
                                <input type="radio" ng-model="selected.univ_level" value="{{tag.univ_level}}" name="univ_level_search">
                                <!-- <input type="radio" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                                    {{tag.group}}
                            </label>
                        </div>
                    </div>
                    </div>
                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-1">
                        卒業年度
                        </div>
                        <div class="col-sm-11">
                            <label>
                                <input type="radio" ng-model="all" value="" name="all" ng-change="onchange()">
                                    すべてチェック
                            </label>
                            <label ng-repeat="tag in userTag|filter: { category:'grade' }">
                                <input type="radio" ng-model="selected.grade" value="{{tag.name}}" name="grade_search" checked="checked">
                                <!-- <input type="radio" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                                    {{tag.name}}
                            </label>
                        </div>
                    </div>
                    </div>

                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-1">
                        専攻(文系)
                        </div>
                        <div class="col-sm-11">
                        <label>
                          <input type="radio" ng-model="selected.major_art" value="" name="major_art_search" checked="checked">
                            全て表示
                        </label>
                        <label ng-repeat="tag in userTag|filter: { category:'major_art' }">
                            <input type="radio" ng-model="selected.major_art" value="{{tag.name}}" name="major_art_search">
                          <!-- <input type="radio" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                            {{tag.name}}
                        </label>
                        </div>
                    </div>
                    </div>

                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-1">
                        専攻(理系)
                        </div>
                        <div class="col-sm-11">
                        <label>
                          <input type="radio" ng-model="selected.major_sci" value="" name="major_sci_search" checked="checked">
                            全て表示
                        </label>
                        <label ng-repeat="tag in userTag|filter: { category:'major_sci' }">
                          <input type="radio" ng-model="selected.major_sci" value="{{tag.name}}" name="major_sci_search">
                          <!-- <input type="radio" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                            {{tag.name}}
                        </label>
                        </div>
                    </div>
                    </div>

                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-1">
                        志向
                        </div>
                        <div class="col-sm-11">
                        <label>
                          <input type="radio" ng-model="selected.preference" value="" name="preference_search" checked="checked">
                            全て表示
                        </label>
                        <label ng-repeat="tag in userTag|filter: { category:'preference' }">
                          <input type="radio" ng-model="selected.preference" value="{{tag.name}}" name="preference_search">
                          <!-- <input type="radio" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                            {{tag.name}}
                        </label>
                        </div>
                    </div>
                    </div>

                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-1">
                        志望業界
                        </div>
                        <div class="col-sm-11">
                        <label>
                          <input type="radio" ng-model="selected.industry" value="" name="industry_search" checked="checked">
                            全て表示
                        </label>
                        <label ng-repeat="tag in userTag|filter: { category:'industry' }">
                          <input type="radio" ng-model="selected.industry" value="{{tag.name}}" name="industry_search">
                          <!-- <input type="radio" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                            {{tag.name}}
                        </label>
                        </div>
                    </div>
                    </div>

                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-1">
                        性別
                        </div>
                        <div class="col-sm-11">
                          <label>
                            <input type="radio" selected="selected" ng-model="selected.sex" value="" name="sex_search" checked="checked">
                              全て表示
                          </label>
                          <label>
                            <input type="radio" ng-model="selected.sex" value="男" name="sex_search">
                              男
                          </label>
                          <label>
                            <input type="radio" ng-model="selected.sex" value="女" name="sex_search">
                              女
                          </label>
                        </div>
                    </div>
                    </div>

                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-6">
                        最小やりとり数　
                            <select  ng-model="selected.loyalty" name="loyalty_search">
                                <option value="" selected="selected">以下から選択してください。</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                        キーワード検索　
                        <input type="text" ng-model="selected.keyword" name="keyword_search">
                        </div>
                    </div>
                    </div>
                    
                    <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                        全表示件数：{{searchedValue = (lineUserList | filter:filterUser | filter: filterByTag).length}}
                        </div>
                        <div  class="col-sm-6">
                        </div>
                        <div class="col-sm-2">
                            <button ng-click="doSearch()" class="btn btn-primary">
                                検索
                            </button>
                            <button ng-click="canselSearch()" class="btn btn-border">
                                <span class="text-primary">絞込み解除</span>
                            </button>
                        </div>
                    </div>
                    </div>

                </form>
                </div>
            </div>
    </div>
    
    <!--
    <div>
        <div>
        ユーザーリスト：{{lineUserList}}
        </div>
    </div>
    -->

    <table class="table table-bordered user-list-table">
        <div class="num-of-show-page">ページ当たり表示する件数
            <select  ng-model="len" name="pageValue" ng-change="calPage(len)">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50" ng-selected = "true">50</option>
                <!--ng-selectedをtrueにしないと選択されない-->
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
                <option ng-value= searchedValue>全件</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;現在のページ：{{cur_page}}
        </div>
        <tr>
            <th><a href ng-click="tag_sort('name', re_tags.name)">名前 <span class = "sort_icon">{{icons.name}}</span></a></th>
            <!--↑
                name=!name;
                sort('name',name);
                という関数を埋め込んでいる。
            -->
            <th><a href ng-click="tag_sort('univ', re_tags.univ)">大学 <span class = "sort_icon">{{icons.univ}}</span></a></th>
            <th><a href ng-click="tag_sort('grade', re_tags.grade)">卒年 <span class = "sort_icon">{{icons.grade}}</span></a></th>
            <th><a href ng-click="tag_sort('preference', re_tags.preference)">志向 <span class = "sort_icon">{{icons.preference}}</span></a></th>
            <th><a href ng-click="tag_sort('major', re_tags.major)">専攻 <span class = "sort_icon">{{icons.major}}</span></a></th>
            <th><a href ng-click="tag_sort('industry', re_tags.industry)">志望 <span class = "sort_icon">{{icons.industry}}</span></a></th>
            <th><a href ng-click="tag_sort('loyalty', re_tags.loyalty)">やり取り <span class = "sort_icon">{{icons.loyalty}}</span></a></th>
            <th><a href ng-click="tag_sort('updated_date', re_tags.updated_date)">登録日 <span class = "sort_icon">{{icons.updated_date}}</span></a></th>
            <th>編集</th>
        </tr> 
     
        <tr ng-repeat="item in filteredList = (lineUserList | filter:filterUser | filter: filterByTag | limitTo: len: start | orderBy : sort) track by $index" on-finish-render >
            <div>
                <td>
                    <a href="javascript:" ng-click="getUserMessages(item)">{{item.name}}</a>
                </td>
                <div ng-if="currentUser.id!=item.id">
                    <div>
                        <td ng-repeat="ic in sortList" class="tag-wrapper">
                        <!--ソート項目ごとにループし、ソート項目の順番とユーザーのタグの順番が同じになるようにする。-->
                                <a href="javascript:" ng-click="searchByTag(sortTag)">{{sortTag = getSortTag(ic.category, item.user_tag, item)}}</a>
                        </td>
                    </div>
                    <td>
                        <div>
                            <a ng-click="openTagAddField(item)" href="javascript:">追加</a>
                        </div>
                        <div>
                            <a ng-click="openTagRemoveField(item)" href="javascript:">削除</a>
                        </div>
                        <div>
                            <a ng-click="canselEditTag()" href="javascript:">キャンセル</a>
                        </div>
                    </td>
                </div>

                <td ng-show="show_edit_tag" ng-if="currentUser.id==item.id && tag_add">
                    <div class="col-sm-4 col-md-4"><span ng-repeat="tag in item.user_tag" class="tag-wrapper">{{getTagName(tag)}}</span></div>
                    <div class="col-sm-3 col-md-3 tag-edit-field">
                        <select name="selectedTag" ng-model="currentSelectedTag[currentUser.id]">
                            <option selected="selected" value="" disabled>---タグを選択---</option>
                            <option ng-repeat="tag in userTag" value="{{tag.id}}">{{tag.name}} / {{tag.categoryText}} </option>
                        </select>
                        <input type="text" class="tag-text" ng-model="currentTagText[currentUser.id]" placeholder="新規タグ">
                        <input type="submit" ng-click="addNewTag()"  value="追加" />
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <a ng-click="openTagRemoveField(item)" href="javascript:">削除</a>
                    </div>
                </td>

                <div ng-show="show_edit_tag" ng-if="currentUser.id==item.id && !tag_add">
                    <div class="col-sm-4 col-md-4">
                        <span ng-repeat="tag in item.user_tag" class="tag-wrapper">{{getTagName(tag)}}</span></div>
                        <div class="col-sm-1 col-md-1">
                            <a ng-click="openTagAddField(item)" href="javascript:">追加</a>
                        </div>
                        <div class="col-sm-3 col-md-3 tag-edit-field">
                            <select name="selectedTagToRemove" ng-model="currentTagToRemove[currentUser.id]">
                                <option selected="selected" value="" disabled>---タグを選択---</option>
                                <option ng-repeat="tag in item.user_tag" value="{{tag}}">{{getTagName(tag)}}</option>
                            </select>
                            <input type="submit" ng-click="removeTag()" value="削除" />
                        </div>
                    </div>
            </div>
        </tr>
    </table>

    <div id="user_message_wrapper" class="ui-widget-content" ng-show="showMessage">
                  <table class="table" id="user_message_table" style="background-color: #FFF">
                    <thead>
                      <tr>
                        <th>ユーザー： {{ currentUser.name }}</th>
                        <th><a href="javascript:" class="close-icon" ng-click="closeMessageWindow()"></a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in userMessages" ng-class="item.is_admin ? 'admin':'user'">
                        <td class="message_text"><div ng-class="item.is_admin ? 'admin': 'user'">{{ item.text }}</div></td>
                        <td class="datetime"><div ng-class="item.is_admin ? 'admin': 'user'">{{ item.datetime }}</div></td>
                      </tr>
                    </tbody>
                  </table>
                  <div id="text_area_wrapper">
                    <textarea id="text_area" name="reply_message" rows="5"></textarea>
                    <div ng-show="!messageSent">
                      <select name="studentSupporter" ng-model="asignee">
                        <option value="荒木">荒木</option>
                        <option value="新田目">新田目</option>
                        <option value="小武内">小武内</option>
                        <option value="金親">金親</option>
                        <option value="叶">叶</option>
                        <option value="菊池">菊池</option>
                        <option value="田辺">田辺</option>
                        <option value="西田">西田</option>
                        <option value="藤松">藤松</option>
                        <option value="渕野">渕野</option>
                        <option value="牧野">牧野</option>
                        <option value="宮">宮</option>
                        <option value="渡辺">渡辺</option>
                        <option value="藤田">藤田</option>
                      </select>
                      <input type="submit" value="送信" ng-click="submitMessage(currentUser.id)" />
                    </div>
                    <div ng-show="messageSent">
                      <p>メッセージが送信されました。</p>
                      <input type="submit" value="続けて送信" ng-click="submitMessage(currentUser.id)" />
                    </div>
                  </div>
                </div>

        <table class="page-num-table">
            <th class="cur-page-num">現在のページ：{{cur_page}}</th>
            <th class = "pagenation"><a href="#"  ng-click="firstPage()" class="page-num"><<最初へ</a><th>
            <th class = "pagenation" ng-show="pager_start>=9"><a href="#"  ng-click="pager_start = pager_start-9" class="page-num"><前へ</a><th>
            <span class="pagination">
                <th ng-repeat = "i in arrOfPage(numOfPage)| limitTo: pager_len: pager_start"><a href="#" ng-click="pager(i)" class="page-num">{{i+1}}</a></th>
            </span>
            <th class = "pagenation" ng-show="pager_start+9 < numOfPage"><a href="#"  ng-click="pager_start = pager_start+9" class="page-num">次へ></a><th>
            <th class = "pagenation"><a href="#"  ng-click="lastPage()" class="page-num">最後へ>></a><th>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
