.btn-ghost{
    background: transparent;
}

.btn-ghost.btn-default{
    color:#777;
}

.btn-ghost.btn-primary{
    color:#337ab7;
}

.btn-ghost.btn-default:hover,
.btn-ghost.btn-primary:hover{
    color:#fff;
}

.btn-ghost.btn-white{
    color:#fff;
    border:1px solid #fff;
}

.btn-ghost.btn-white{
    color:#333;
    background:#fff;
}

.btn-border{
    background:#fff;
    border-color:#337ab7;
}

.search-btn-layout{
    float: right;
}

.user-list-search-field{
    margin: 10px;
}

.page-num{
    margin: 0px 2px;
}

.cur-page-num{
    margin: 5px;
    padding: 0px 2px;
}

.page-num-table{
    float: right;
}

.user-list-table{
    margin-bottom: 0px;
}

label{
    margin: 0px 10px;
}

.font-size-xs{
    font-size: x-small;
}

.show-head{
    margin: 5px;
}

.col-right{
    float: right;
}

.btn-circle {
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    text-decoration: none;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 0px;
    padding-bottom: 3px;
    border-top-width: 0px;
}
