<!DOCTYPE html>
<html lang="ja" ng-app="concierAdminApp">
<head>
    <meta charset = "UTF-8">
    <title>絞込み検索</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src = "userSearchController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="user_search.css">
</head>
<body>
<div ng-controller="UserSearchCtrl">
    <div class="container-fluid">
        <div class="row user-list-search-field">
            <div class="col-lg-12 col-xs-12">

                <form name="frm">
                    <div class="list-group">

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-12">
                                絞り込み条件を指定してください
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-1">
                                大学
                                </div>
                                <div class="col-sm-2">
                                    <label>
                                        <input type="button" value="すべてチェック" ng-model="allFrags.univ_level" ng-click = "allFrags.univ_level=true;onChange('univ_level',allFrags.univ_level)" name="allFrags.univ_level" class="btn btn-secondary btn-xs">
                                    </label>
                                    </br>
                                    <label>
                                        <input type="button" value="解除" ng-model="allFrags.univ_level" ng-click = "allFrags.univ_level=false;onChange('univ_level',allFrags.univ_level)" name="allFrags.univ_level" class="btn btn-default btn-xs">
                                    </label>
                                    <label>
                                        <font size="1">タグなし：</font>
                                        <input type="checkbox" ng-model="nullTagUserFrags['univ_level']" name="null_tag_user_include" checked="checked">
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <label ng-repeat="tag in univGroupList">
                                        <input type="checkbox" ng-model="selected.univ_level[tag.univ_level]" ng-checked="allFrags.univ_level" name="univ_level_search">
                                        <!-- <input type="checkbox" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                                            {{tag.group}}
                                    </label>
                                </div>
                            </div>
                        </div>
            
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-1">
                                卒業年度
                                </div>
                                <div class="col-sm-2">
                                    <label>
                                        <input type="button" value="すべてチェック" ng-model="allFrags.grade" ng-click = "allFrags.grade=true;onChange('grade',allFrags.grade)" name="allFrags.grade" class="btn btn-secondary btn-xs">
                                    </label>
                                    </br>
                                    <label>
                                        <input type="button" value="解除" ng-model="allFrags.grade" ng-click = "allFrags.grade=false;onChange('grade',allFrags.grade)" name="allFrags.grade" class="btn btn-default btn-xs">
                                    </label>
                                    <label>
                                        <font size="1">タグなし：</font>
                                        <input type="checkbox" ng-model="nullTagUserFrags['grade']" name="null_tag_user_include" checked="checked">
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                    <label ng-repeat="tag in userTag|filter: { category:'grade' }">
                                        <input type="checkbox" ng-model="selected.grade[tag.name]" ng-checked="allFrags.grade" name="grade_search">
                                        <!-- <input type="checkbox" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                                            {{tag.name}}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-1">
                                専攻
                                </div>
                                <div class="col-sm-2">
                                    <div>
                                    <label>
                                        <input type="button" value="すべてチェック" ng-model="allFrags.major" ng-click = "allFrags.major=true;onChange('major',allFrags.major)" name="allFrags.major" class="btn btn-secondary btn-xs">
                                    </label>
                                    </br>
                                    <label>
                                        <input type="button" value="解除" ng-model="allFrags.major" ng-click = "allFrags.major=false;onChange('major',allFrags.major)" name="allFrags.major" class="btn btn-default btn-xs">
                                    </label>
                                    <label>
                                        <font size="1">タグなし：</font>
                                        <input type="checkbox" ng-model="nullTagUserFrags['major']" name="null_tag_user_include" checked="checked">
                                    </label>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                <label>
                                    <input type="checkbox" ng-model="selected.major['文系']" ng-checked="allFrags.major" name="major_search">
                                    <!-- <input type="checkbox" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                                        文系
                                </label>
                                <label ng-repeat="tag in userTag|filter: { category:'major_sci' }">
                                    <input type="checkbox" ng-model="selected.major[tag.name]" ng-checked="allFrags.major" name="major_search">
                                  <!-- <input type="checkbox" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                                        {{tag.name}}
                                </label>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-1">
                                志向
                                </div>
                                <div class="col-sm-2">
                                <label>
                                    <input type="button" value="すべてチェック" ng-model="allFrags.preference" ng-click = "allFrags.preference=true;onChange('preference',allFrags.preference)" name="allFrags.preference" class="btn btn-secondary btn-xs">
                                </label>
                                </br>
                                <label>
                                    <input type="button" value="解除" ng-model="allFrags.preference" ng-click = "allFrags.preference=false;onChange('preference',allFrags.preference)" name="allFrags.preference" class="btn btn-default btn-xs">
                                </label>
                                <label>
                                    <font size="1">タグなし：</font>
                                    <input type="checkbox" ng-model="nullTagUserFrags['preference']" name="null_tag_user_include" checked="checked">
                                </label>
                                </div>
                                <div class="col-sm-9">
                                <label ng-repeat="tag in userTag|filter: { category:'preference' }">
                                  <input type="checkbox" ng-model="selected.preference[tag.name]" ng-checked="allFrags.preference" name="preference_search">
                                  <!-- <input type="checkbox" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                                    {{tag.name}}
                                </label>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-1">
                                志望業界
                                </div>
                                <div class="col-sm-2">
                                <label>
                                    <input type="button" value="すべてチェック" ng-model="allFrags.industry" ng-click = "allFrags.industry=true;onChange('industry',allFrags.industry)" name="allFrags.industry" class="btn btn-secondary btn-xs">
                                </label>
                                </br>
                                <label>
                                    <input type="button" value="解除" ng-model="allFrags.industry" ng-click = "allFrags.industry=false;onChange('industry',allFrags.industry)" name="allFrags.industry" class="btn btn-default btn-xs">
                                </label>
                                <label>
                                    <font size="1">タグなし：</font>
                                    <input type="checkbox" ng-model="nullTagUserFrags['industry']" name="null_tag_user_include" checked="checked">
                                </label>
                                </div>
                                <div class="col-sm-9">
                                <label ng-repeat="tag in userTag|filter: { category:'industry' }| limitTo : 16| filter : '!（旧）' ">
                                    <input type="checkbox" ng-model="selected.industry[tag.name]" ng-checked="allFrags.industry" name="industry_search">
                                    <!-- <input type="checkbox" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                                    {{tag.name}}
                                </label>
                                <label ng-repeat="tag in userTag|filter: { category:'industry' }| limitTo :  (userTag|filter : { category:'industry' }).length-16 :16| filter : '!（旧）'" ng-show="industryShow">
                                    <input type="checkbox" ng-model="selected.industry[tag.name]" ng-checked="allFrags.industry" name="industry_search">
                                    <!-- <input type="checkbox" ng-model="user_univ" value="{{tag.name}}" name="univ_search"> -->
                                    {{tag.name}}
                                </label>
                                <a href="javascript:" ng-click = "showIndustryTag()">{{industryShowIcon}}</a>
                                <!--↑ng-showによって表示／非表示を変更する。-->
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-1">
                                性別
                                </div>
                                <div class="col-sm-2">
                                    <label>
                                        <input type="button" value="すべてチェック" ng-model="allFrags.sex" ng-click = "allFrags.sex=true;onChange('sex',allFrags.sex)" name="allFrags.sex" class="btn btn-secondary btn-xs">
                                    </label>
                                    </br>
                                    <label>
                                        <input type="button" value="解除" ng-model="allFrags.sex" ng-click = "allFrags.sex=false;onChange('sex',allFrags.sex)" name="allFrags.sex" class="btn btn-default btn-xs">
                                    </label>
                                    <label>
                                        <font size="1">タグなし：</font>
                                        <input type="checkbox" ng-model="nullTagUserFrags['sex']" name="null_tag_user_include" checked="checked">
                                    </label>
                                </div>
                                <div class="col-sm-9">
                                  <label>
                                    <input type="checkbox" ng-model="selected.sex['男']" ng-checked="allFrags.sex" name="sex_search">
                                      男
                                  </label>
                                  <label>
                                    <input type="checkbox" ng-model="selected.sex['女']" ng-checked="allFrags.sex" name="sex_search">
                                      女
                                  </label>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                最小やりとり数　
                                    <select  ng-model="search.loyalty" name="loyalty_search">
                                        <option value="" selected="selected">以下から選択してください。</option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                キーワード検索　
                                <input type="text" ng-model="selected.keyword" name="keyword_search">
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item" on-Init-Check>
                            <div class="row">
                                <div class="col-sm-4">
                                全表示件数：{{searchedValue = (lineUserList | filter:filterByTag| filter: filterByLoyalty| filter: selected.keyword| filter: filterUser ).length}}
                                </div>
                                <div  class="col-sm-7">
                                </div>
                                <div class="col-sm-1">
                                <button ng-click="doSearch()" class="btn btn-primary">
                                    検索
                                </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

<!--
    <div>
        テストtestStr：{{testStr}}
    </div>
    <div>
        テストtest：{{test}}
    </div>
    <div>
        テストindexOf：{{testIndexOf}}
    </div>
    <div>
        テストlineUserList：{{lineUserList}}
    </div>
    <div>
        テストtestTags：{{testTags}}
    </div>
    <div >
        テストtestItems：{{testItems}}
    </div>
    <div>
        テストallFrags：{{allFrags}}
    </div>
    <div>
        テストnullTagUserFrags：{{nullTagUserFrags}}
    </div>
    <div>
        テストselected：{{selected}}
    </div>
    <div>
        テストsearch：{{search}}
    </div>
-->

                    <div class="row show-head">

                        <div class="col-sm-2">
                            <button ng-click="all=true;allCheck(all)" class="btn btn-primary btn-xs">
                                すべてチェック
                            </button>
                            <button ng-click="all=false;allCheck(all)" class="btn btn-border btn-xs">
                                <span class="text-primary">全解除</span>
                            </button>
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <span class="col-right">
                                ページ当たり表示する件数
                                    <select  ng-model="len" name="pageValue" ng-change="calPage(len)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50" ng-selected = "true">50</option>
                                        <!--ng-selectedをtrueにしないと選択されない-->
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option ng-value= searchedValue>全件</option>
                                    </select>
                            </span>
                        </div>
                        <div class="col-sm-2 ">
                            <span class="col-right">
                                現在のページ：{{cur_page}}
                            </span>
                        </div>
                    </div>

             <div class="list-group">

                <div class="list-group-item">
                    <div class="row">

                        <div class="col-sm-2">
                            <a href ng-click="tagSort('name', re_tags.name)">名前 <span class = "sort_icon">{{icons.name}}</span></a>
                        </div>
                        <!--↑
                            name=!name;
                            sort('name',name);
                            という関数を埋め込んでいる。
                        -->
                        <div class="col-sm-1">
                            <a href ng-click="tagSort('univ', re_tags.univ)">大学 <span class = "sort_icon">{{icons.univ}}</span></a>
                        </div>
                        <div class="col-sm-1">
                            <a href ng-click="tagSort('grade', re_tags.grade)">卒年 <span class = "sort_icon">{{icons.grade}}</span></a>
                        </div>
                        <div class="col-sm-1">
                            <a href ng-click="tagSort('major', re_tags.major)">専攻 <span class = "sort_icon">{{icons.major}}</span></a>
                        </div>
                        <div class="col-sm-1">
                            <a href ng-click="tagSort('preference', re_tags.preference)">志向 <span class = "sort_icon">{{icons.preference}}</span></a>
                        </div>
                        <div class="col-sm-1">
                            <a href ng-click="tagSort('industry', re_tags.industry)">志望 <span class = "sort_icon">{{icons.industry}}</span></a></div>
                        <div class="col-sm-1">
                            <a href ng-click="tagSort('loyalty', re_tags.loyalty)">やり取り <span class = "sort_icon">{{icons.loyalty}}</span></a>
                        </div>
                        <div class="col-sm-2">
                            <a href ng-click="tagSort('updated_at', re_tags.updated_at)">更新日 <span class = "sort_icon">{{icons.updated_at}}</span></a>
                            <input type="button" value="絞込み解除" ng-click = ' search.updated_at = "" ' class="btn btn-secondary btn-xs">
                        </div>
                        <div class="col-sm-1">
                            編集
                        </div>

                    </div>
                </div>

                <div ng-repeat="item in filteredList = (lineUserList | filter:filterByTag| filter: filterByLoyalty| filter: selected.keyword| filter: filterByDate| filter: filterUser| limitTo: len: start | orderBy : runSort) track by $index" on-finish-render, class="list-group-item">

                        <div class="row">

                            <div>
                                <div  class="tag-wrapper col-sm-2">
                                    <a href="javascript:" ng-click="getUserMessages(item)">{{item.name}}</a>
                                </td>
                            </div>
                            <div ng-if="currentUser.id!=item.id">
                                <div ng-repeat="ic in sortList | filter: {category : '!preference'} | filter: {category : '!industry'} " class="tag-wrapper col-sm-1">
                                <!--ソート項目ごとにループし、ソート項目の順番とユーザーのタグの順番が同じになるようにする。-->
                                        <a href="javascript:" ng-click="searchByTag(sortTag)">{{sortTag = getSortTag(ic.category, item.user_tag, item)}}</a>
                                </div>
                                <div  class="tag-wrapper col-sm-2">
                                    <div ng-repeat="preferenceTag in item['preference']">
                                        <a href="javascript:" ng-click="searchByTag(preferenceTag)">{{preferenceTag}}</a>
                                    </div>
                                </div>
                                <div  class="tag-wrapper col-sm-1">
                                    <div ng-repeat="industryTag in item['industry']">
                                        <a href="javascript:" ng-click="searchByTag(industryTag)">{{industryTag}}</a>
                                    </div>
                                </div>
                                <div class="tag-wrapper col-sm-1">
                                    <a href="javascript:" ng-click="search.loyalty = item.loyalty">{{item.loyalty}}</a>
                                </div>
                                <div class="tag-wrapper col-sm-1">
                                    <a href="javascript:" ng-click="search.updated_at = item.updated_at">{{item.updated_at | date : 'yyyy/M/d H:m'}}</a>
                                    <!--dateフィルターを用いると、日付の表示を変えられる。-->
                                </div>
                            </div>

                            <div ng-show="show_edit_tag" ng-if="currentUser.id==item.id && tag_add">
                                <div class="col-sm-4 col-md-4">
                                    <span ng-repeat="tag in item.user_tag" class="tag-wrapper">{{getTagName(tag)}}</span>
                                </div>
                                <div class="col-sm-3 col-md-3 tag-edit-field">
                                    <select name="selectedTag" ng-model="currentSelectedTag[currentUser.id]">
                                        <option selected="selected" value="" disabled>---タグを選択---</option>
                                        <option ng-repeat="tag in userTag" value="{{tag.id}}">{{tag.name}} / {{tag.categoryText}} </option>
                                    </select>
                                    <input type="text" class="tag-text" ng-model="currentTagText[currentUser.id]" placeholder="新規タグ">
                                    <input type="submit" ng-click="addNewTag()"  value="追加" />
                                </div>
                                <div class="col-sm-1 col-md-1">
                                    <a ng-click="openTagRemoveField(item)" href="javascript:">削除</a>
                                </div>
                            </div>

                            <div ng-show="show_edit_tag" ng-if="currentUser.id==item.id && !tag_add">
                                <div class="col-sm-4 col-md-4">
                                    <span ng-repeat="tag in item.user_tag" class="tag-wrapper">{{getTagName(tag)}}</span>
                                </div>
                                <div class="col-sm-1 col-md-1">
                                    <a ng-click="openTagAddField(item)" href="javascript:">追加</a>
                                </div>
                                <div class="col-sm-3 col-md-3 tag-edit-field">
                                    <select name="selectedTagToRemove" ng-model="currentTagToRemove[currentUser.id]">
                                        <option selected="selected" value="" disabled>---タグを選択---</option>
                                        <option ng-repeat="tag in item.user_tag" value="{{tag}}">{{getTagName(tag)}}</option>
                                    </select>
                                    <input type="submit" ng-click="removeTag()" value="削除" />
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
        </div>
    </div>

    <div id="user_message_wrapper" class="ui-widget-content" ng-show="showMessage">
                  <table class="table" id="user_message_table" style="background-color: #FFF">
                    <thead>
                      <tr>
                        <th>ユーザー： {{ currentUser.name }}</th>
                        <th><a href="javascript:" class="close-icon" ng-click="closeMessageWindow()"></a></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in userMessages" ng-class="item.is_admin ? 'admin':'user'">
                        <td class="message_text"><div ng-class="item.is_admin ? 'admin': 'user'">{{ item.text }}</div></td>
                        <td class="datetime"><div ng-class="item.is_admin ? 'admin': 'user'">{{ item.datetime }}</div></td>
                      </tr>
                    </tbody>
                  </table>
                  <div id="text_area_wrapper">
                    <textarea id="text_area" name="reply_message" rows="5"></textarea>
                    <div ng-show="!messageSent">
                      <select name="studentSupporter" ng-model="asignee">
                        <option value="荒木">荒木</option>
                        <option value="新田目">新田目</option>
                        <option value="小武内">小武内</option>
                        <option value="金親">金親</option>
                        <option value="叶">叶</option>
                        <option value="菊池">菊池</option>
                        <option value="田辺">田辺</option>
                        <option value="西田">西田</option>
                        <option value="藤松">藤松</option>
                        <option value="渕野">渕野</option>
                        <option value="牧野">牧野</option>
                        <option value="宮">宮</option>
                        <option value="渡辺">渡辺</option>
                        <option value="藤田">藤田</option>
                      </select>
                      <input type="submit" value="送信" ng-click="submitMessage(currentUser.id)" />
                    </div>
                    <div ng-show="messageSent">
                      <p>メッセージが送信されました。</p>
                      <input type="submit" value="続けて送信" ng-click="submitMessage(currentUser.id)" />
                    </div>
                  </div>
                </div>

        <table class="page-num-table">
            <th class="cur-page-num">現在のページ：{{cur_page}}</th>
            <th class = "pagenation"><a href="#"  ng-click="firstPage()" class="page-num"><<最初へ</a><th>
            <th class = "pagenation" ng-show="pager_start>=9"><a href="#"  ng-click="pager_start = pager_start-9" class="page-num"><前へ</a><th>
            <span class="pagination">
                <th ng-repeat = "i in arrOfPage(numOfPage)| limitTo: pager_len: pager_start"><a href="#" ng-click="pager(i)" class="page-num">{{i+1}}</a></th>
            </span>
            <th class = "pagenation" ng-show="pager_start+9 < numOfPage"><a href="#"  ng-click="pager_start = pager_start+9" class="page-num">次へ></a><th>
            <th class = "pagenation"><a href="#"  ng-click="lastPage()" class="page-num">最後へ>></a><th>
        </table>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
